<div>
  <div class="base-container">
    <h2>Create workshops</h2>    
  </div>

  <div>
    <form class="form-container100" (ngSubmit)="onSubmit(f)" #f="ngForm">
      <mat-form-field>
        <input matInput name="name" placeholder="name" ngModel required>
      </mat-form-field>
      <mat-form-field>
        <mat-select name="courseId" placeholder="-- course --" ngModel required>
          <mat-option *ngFor="let course of courses | async" [value]="course.courseId">
            {{ course.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select name="teacherId" placeholder="-- teacher --" ngModel required>
          <mat-option *ngFor="let teacher of teachers | async" [value]="teacher.teacherId">
            {{ teacher.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-datepicker #picker1></mat-datepicker>
        <input matInput [matDatepicker]="picker1" name="dateIn" placeholder="dateIn" ngModel readonly>
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      </mat-form-field>
      <mat-form-field>
        <mat-datepicker #picker2></mat-datepicker>
        <input matInput [matDatepicker]="picker2" name="dateFi" placeholder="dateFi" ngModel readonly>
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      </mat-form-field>

      <div>
        <button mat-raised-button color="primary" [disabled]="f.invalid">Save</button>&nbsp;
        <button mat-raised-button type="button" (click)="onCancel()">Cancel</button>&nbsp;
      </div>
    </form>   
  </div>
</div>

